<div class="container">
  <div class="row my-4 text-center title-row">
    <div class="col-5 py-4 text-right">
      <h1>PD</h1>
    </div>
    <div class="col-2 px-0">
      <img class="logo" src="../../assets/Project Logo.png" alt="" srcset="" />
    </div>
    <div class="col-5 py-4 text-left">
      <h1>mate</h1>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-8 my-4 mx-auto text-center description-area">
      <p class="my-3">
        PDMate, is a web application to detect Parkinson's in the early stage
        using hand drawing. Any user can detect Parkinson's using this system.
        This system consist of simple method, the user can upload spiral,
        meander and wave sketching patterns and get the prediction along with
        the probability. If you have identified as a Parkinson's patient please
        consultant a medical professional.
      </p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12 text-center">
      <button
        [routerLink]="['/uploadImage']"
        type="button"
        class="btn btn-outline-primary btn-lg my-4"
      >
        Get Started
      </button>
    </div>
  </div>
</div>
